.tc-dialog-base {
  .el-dialog__header {
    padding: 10px 10px;
    background-color: #5e656a;
    .el-dialog__title,
    .tc-dialog-title {
      color: #fff;
      font-size: 16px;
      font-weight: 800;
    }
  }

  .el-dialog__headerbtn {
    top: 8px;
    right: 10px;
    font-size: 20px;
  }

  .el-dialog__body{
    padding: 0px;
  }

  .tc-dialog-body-container {
    overflow: auto;
  }
  .tc-dialog-body-container .app-container{
    padding: 0px !important;
  }
  .el-dialog__close.el-icon.el-icon-close{
    color:#fff;
  }
}
.el-dialog__wrapper{
  overflow: hidden;
  // top: 0%;
  // bottom:10%;
}
.el-dialog .el-dialog__header{
  height: 20px;
  line-height: inherit;
}

.el-loading-mask.is-fullscreen{
  z-index: 2100 !important;
}