@keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes treeTableShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.el-table.tc-table td.el-table-column--selection, .el-table.tc-table th.el-table-column--selection{
  text-align: center !important;
}