.tc-input-tag{
  .ti-input{
    padding:2px 4px !important;
  }
  .ti-tag{
    background-color: #f4f4f5 !important;
    color:#909399  !important;
    border:1px solid #e9e9eb !important;
    padding: 2px 5px !important;
  }
}
