

.tc-hot-table.handsontable th:first-child,
.tc-hot-table.handsontable td:first-of-type,
.tc-hot-table.handsontable .htNoFrame + th,
.tc-hot-table.handsontable .htNoFrame + td {
  border-left: 1px solid #ddd;
}
.tc-hot-table.handsontable.htRowHeaders thead tr th:nth-child(2) {
  border-left: 1px solid #ddd;
}
.tc-hot-table.handsontable tr:first-child th,
.tc-hot-table.handsontable tr:first-child td {
  border-top: 1px solid #ddd;
}

.tc-hot-table.handsontable th,
.tc-hot-table.handsontable td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  empty-cells: show;
  position: relative;
  padding: 0 4px;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line;
}
.tc-hot-table.handsontable th:last-child{
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tc-hot-table.handsontable th.disabled,
.tc-hot-table.handsontable td.disabled {
  background-color: #fafafa;
  color: #999999;
}